/* أنماط CSS لتنسيق الصفحة */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

#players-container {
    margin-bottom: 20px;
}

#add-player-form input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 300px; /* زيادة العرض لتسهيل إدخال البيانات */
}

.player-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.player-image {
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
}
